* {
   box-sizing: border-box;
}

body {
    font-family:"Open Sans", Arial, sans-serif ;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;/*contenido sobrante de contenedor es ocultado*/
}

/*-----------------------HEADER-----------------*/

header {
    width: 100%;
    background:url('../img/bg.jpg') #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0;
}

header .contenedor {
    position:relative;
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;/*para trabajarlo mas alante con jquery efecto 'aparece menu'*/

}

header .menu a:hover {
    text-decoration: underline;
}

header .textos {
    width: 100%;
    color: #fff;
    position: absolute;/*trabajar efecto parallax velocidad con jquery*/
    top: 50%;
    margin-top: -52px;/*corrige centrado texto respecto de la imagen*/
}

header .textos .nombre {
    font-size: 50px;
    font-weight: 600;
}

header .textos .nombre span {
    font-weight: 300;
    font-size:60px ;
    font-family: 'Dancing Script', cursive;
}

header .textos h3 {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}
/*-------podria hacerse con flexbox, pero es sencillo para usar flexbox-------  */

/*------ ----- MAIN ----- ------*/

.main {
    background: url('../img/bg-textura.png');
    background-repeat: repeat;/*asegurarnos de que funciona en todos los navegadores*/
}

.main .acerca_de .contenedor {
    overflow: visible;/*contenido sobrante de contenedor es visible*/
    position: relative;
}

.main .acerca_de .foto {
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;/*para que la foto  pase por abajo de texto  */
    box-shadow: 0px 0px 15px rgba(0, 0, 0,.35);
}

.main .acerca_de .foto img {
    vertical-align: top;/*corrige fallo de sombra margen blanco pie foto*/
    width: 100%;
}

.main .acerca_de article {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;/*permite manipular cuadro acerca de*/
    top: 500px;
    /*top: 300px;*/
    /*top: 150px;*/
    z-index: 1;/*mayor que z-index de foto texto pasa encima foto */
    float: right;
    box-shadow: 0px 0px 15px rgba(0, 0, 0,.35);
}

.main .acerca_de article h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .acerca_de article p {
    line-height: 28px;
    margin-bottom: 15px;
}

.main .menu {
    padding-top: 570px;/*distancia entren header y h3 menú*/
    margin-bottom: 50px;    
}

.main .menu .titulo {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.main .menu .contenedor_menu,
.main .menu .contenedor_menu2 {
    border: 1px solid #000;
    background: transparent;/*para poner un contenedor dentro de otro efecto doble magen*/
    padding: 10px;
    overflow: hidden;/*para ocultar contenido sobrante*/
}

.main .menu article {
    width: 50%;
    float: left;
    padding: 20px;
}

.main .menu .categoria {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.main .menu .platillo {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px dotted #000;
    overflow: hidden;/*oculta texto sobrante en caso de existir para que no se sobre escriba */
}

.main .menu .nombre {
    font-size: 20px;
    margin-bottom: 15px;
    float: left;
}

.main .menu .precio {
    font-size: 20px;
    margin-bottom: 15px;
    float: right;
}

.main .menu .descripcion {
    font-size: 16px;
    color: #676767;
    clear: both;/*añadido por seguridad por que trabajamos con float*/
}

.main .galeria {
    overflow: hidden;/*vamos a trabajar con float , evitamos posibles problemas*/
}

.main .galeria .foto {
    width: 25%;
    float: left;
}

.main .galeria .foto img {
    width: 100%;
    vertical-align: top;
    opacity: .7;
}

.main .galeria .foto:hover img {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.main .ubicacion {
    background: #fff;
    padding:60px 0;
    overflow: hidden;
}

.main .ubicacion .titulo {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .ubicacion .direccion {
    float: left;
    width: 50%;
    text-align: left;
}

.main .ubicacion .horarios {
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden; /*contenedor padre ,trabajando con float poner overflow:hidden; */
}

.main .ubicacion .direccion .calle {
    margin-bottom: 15px;
}.main .ubicacion .horarios h4 {
    text-align: center;
    margin-bottom: 20px;
}

.main .ubicacion .horarios .entre_semana,
.main .ubicacion .horarios .fin_semana {
    width: 50%;
    float: left;
    text-align: center;
}

.main .mapa {
    width: 100%;
    overflow: hidden;
}

.main .mapa iframe {
    width: 100%;
    max-height: 600px;
}

/*------ ----- FOOTER ----- ------*/

footer {
    background: #000;    
}

footer .redes_sociales .contenedor {
    display: flex;
    justify-content:center;
}

footer .redes_sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display:block;
    padding:15px 0px;
    border-radius: 3px;
    font-size: 30px;    
    margin: 0px 20px;
}


footer .redes_sociales .twitter:hover {background:#1da1f2;}
footer .redes_sociales .facebook:hover {background:#3b5998 ;}
/*footer .redes_sociales .youtube:hover {background: #ff0000;}*/   
/*footer .redes_sociales .github:hover {background: #6cc644;}*/   
footer .redes_sociales .instagram:hover {background: #e1306c;}
 
footer .copyright {
    text-align: center;
    padding: 15px 0;
    color: #fff;
}


/*------ ----- MEDIA QUERIES ----- ------*/

@media screen and (max-width: 800px){
    header .contenedor {
        position: static;
        height: auto;
    }

    header .textos {
        position: static;
        margin: 100px 0;
    }

    header .menu {
        text-align: center;
    }

    header .menu a {
        margin: 10px 20px;
    }

    header .textos .nombre {
        font-size: 30px;
    } 
    
    header .textos .nombre span {
        font-size: 40px;
    }

    header .textos h3 {
        font-size:18px;
    }

    .main .acerca_de .foto {
        width: 100%;
        position: relative;
    }

    .main .acerca_de article {
        position: relative;
        width: 100%;
        top: -50px;
        transform: translate(0px, 0);/*para trabajar con jqueri*/
    }

    .main .menu {
        padding-top: 300px;
    }

    .main .menu article {
        width: 100%;
    }

    .main .galeria .foto {
        width: 50%;
    }

    .main .mapa {
        width: 80%;
        margin: auto;
    }

}

@media screen and (max-width:400px){
    header .menu a {
        font-size: 16px;
        margin:12px;
    }

    .main .acerca_de article h3 {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .main .menu article .nombre,
    .main .menu article .precio {
        font-size: 16px;
        line-height: 16px;
    }

    .main .ubicacion .direccion {
        margin-bottom: 15px;
    }

    .main .ubicacion .direccion,
    .main .ubicacion .horarios {
    
        width: 100%;
        text-align: center;
    }
}